# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- ###  **Python**
- ###  **Scala**
- ###  **SQL**
- ###  **R**
- ###  **Hadoop**

## Some of the popular languages that Data Scientists use are:
### 1 - Python
### 2 - R
### 3 - Scala

## Some of the commonly used libraries used by Data Scientists include:
### 1 - Pandas
### 2 - NumPy
### 3 - Scikit learn
### 4 - ThensorFlow
### 5 - Matplotlib

| Data Science Tools |
| :- |
| Python | 
| Tableau |
| Apache Sparks |

#### Below are a few examples of evaluating arithmetic expressions in Python
#### 5 --  a number is an arithmetic expression
#### (3 + 4) -- the  sum of numbers is an arithmetic expression
#### (7 - 3) --  the difference  of two  numbers is an arithmetic expression

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author : Eder Brito